.auto-suggest {
  position: relative;
  margin-bottom: 24px;

  &__field {
    height: 50px;
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.1);
    border-radius: 4px;
    padding: 0 20px;

    &--focused {
      border-color: rgba(var(--center-channel-color-rgb), 0.2);
    }
  }

  &__toggle-input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;

    &:disabled{
      cursor: not-allowed;
    }
  }

  &__input {
    border: none;
    outline: none;
    background: transparent;
    height: 100%;
    width: calc(100% - 20px);
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
      outline: none;
    }
  }

  &--disabled {
    opacity: 0.6;
    background: rgba(var(--center-channel-color-rgb), 0.1);
    cursor: not-allowed;
    .auto-suggest__field {
      cursor: not-allowed;
    }
    .auto-suggest__input {
      cursor: not-allowed;
    }
  }

  &__field-angle {
    font-size: 20px;
    transition: all 100ms ease-in-out;
    color: rgba(var(--center-channel-color-rgb), 0.4);

    &--rotated {
      transform: rotate(180deg);
      color: rgba(var(--center-channel-color-rgb), 0.7);
    }
  }

  &__loader {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border-top: 2px solid var(--button-bg);
    border-right: 2px solid var(--button-bg);
    -webkit-animation: rotate-center 1.2s linear infinite both;
    animation: rotate-center 1.2s linear infinite both;
  }

  &__get-suggestion-warn {
    opacity: 0.6;
    font-size: 13px;
    margin: 2px 0 0;
    position: absolute;
    z-index: 1;
    top: 49px;
    left: 0;
  }

  &__suggestions {
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 2;
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.2);
    border-radius: 4px;
    max-height: 0;
    overflow: auto;
    opacity: 0;
    transition: all 100ms ease-in-out;
    background: var(--center-channel-bg);
    padding: 0;
    box-shadow: 0px 8px 24px rgba(var(--center-channel-color-rgb), 0.2);

    &--open {
      opacity: 1;
      max-height: 200px;
    }
  }

  &__suggestion {
    font-size: 14px;
    padding: 8px 24px;
    margin: 0;
    max-width: 100%;

    &:hover {
      background: rgba(var(--center-channel-text-rgb), 0.06);
    }
  }

  &__err-text {
    color: var(--error-text);
    font-size: 14px;
    margin-top: 5px;
  }

  &--error{
    .auto-suggest__field{
      border-color: rgba(var(--error-text-color-rgb), 0.5);
    }
    .auto-suggest__input::placeholder,
    .auto-suggest__field-angle{
      color: rgba(var(--error-text-color-rgb), 0.8);
    }
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
