.rhs-state-icon {
  opacity: 0.6;
}

.channel-header__icon {
  &:hover {
    path {
      fill: rgba(var(--center-channel-color-rgb), 0.72);
    }
  }
  &:active {
    path {
      fill: var(--button-bg);
    }
  }
}
