@import "@brightscout/mattermost-ui-library/build/styles/abstract/_mixins";

.servicenow-modal {
  .plugin-dropdown {
    margin-bottom: 12px;
  }

  .wizard__body-container {
    min-height: 146px;
  }

  .dropdown-option-icon {
    @include positioning(relative, 1px, "", "", -4px);
    margin-right: -2px;
  }

  .auto-suggest__suggestions--open {
    max-height: 124px;
  }

  .plugin-dropdown__options-list--open {
    max-height: 124px;
  }

  .subscription-type-panel {
    min-height: 128px;
  }

  .events-panel {
    &__label {
      color: rgba(var(--center-channel-color-rgb), 0.8);
    }

    &__prev-data {
      border: 1px solid rgba(var(--center-channel-color-rgb), 0.2);
    }

    &__prev-data-header {
      color: rgba(var(--center-channel-color-rgb), 0.4);
    }
  }

  .search-panel {
    &__description {
      list-style-type: none;
    }

    &__description-header {
      color: rgba(var(--center-channel-color-rgb), 0.4);
      width: 125px;
    }

    &__description-text {
      min-width: 200px;
      max-width: calc(100% - 140px);
    }
  }
}
