.rhs-state-icon {
  opacity: 1;
}

.servicenow-icon {
  opacity: 0.6;
}

.result-panel {
  position: static !important;
  padding: 0 !important;

  &-icon--error {
    font-size: 58px;
    color: var(--error-text);
  }
}
