.d-none {
  display: none;
}

.text-ellipsis {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-text-color {
  color: var(--center-channel-color);

  &--stroke {
    * {
      stroke: var(--center-channel-color);
    }
  }

  &--fill {
    path {
      fill: var(--center-channel-color);
    }
  }
}
