.button-menu {
  border-radius: 4px;
  overflow: hidden;

  &__btn {
    background: var(--center-channel-bg);
    color: var(--center-channel-color);
    font-size: 14px;
    width: 100%;
    min-width: 120px;
    padding: 12px 10px;
    border: none;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: rgba(var(--center-channel-color-rgb), 0.05);
    }
  }

  &__btn-icon {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
  }
}
