.servicenow-comment-modal {
  .comment-body {
      padding: 0 32px 24px 32px;
      overflow-y: auto;
      min-height: 250px;
      max-height: 420px;

      &__height {
        height: 250px;
      }

      &__text-area {
        margin-top: 24px;
    
        .textarea__control {
          height: 100px;
          min-width: 536px;
          max-width: 536px;
          min-height: 37px;
          background: var(--center-channel-bg);
        }
      }

      &__heading {
        font-weight: 600;
        margin-top: 20px;
      }

      &__description {
        list-style-type: none;
      }

      &__description-text {
        padding: 20px 10px 0 0;
        white-space: pre-line;
      }

      &__footer {
        text-align: center;
        font-weight: bold;
        margin: 0;
      }
  }
}
