// Positions
.position-relative {
    position: relative;
}

// Layouts
.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.flex-basis-initial {
    flex-basis: initial;
}

.text-align-right {
    text-align: right;
}

.white-space-inherit {
    white-space: inherit;
}

// Margins
.margin-left-auto {
    margin-left: auto;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-right-8 {
    margin-right: 8px;
}

// Heights
.height-120 {
    height: 120px;
}

.height-auto {
    height: auto;
}
