@import "../../styles/abstract/variables";
@import "@brightscout/mattermost-ui-library/build/styles/abstract/_mixins";

.rhs-title {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
}

.rhs-content {
  height: calc(100% - #{$rhs-header-height});

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subscriptions {
    font-weight: bold;
  }

  &__cards-container {
    height: calc(100% - #{$rhs-footer-height} - #{$rhs-toggle-section-height});
    padding-right: 10px;
    overflow-y: auto;
  }

  .empty-state {
    height: calc(100% - #{$rhs-toggle-section-height});
    padding: 0 30px;
  }

  .error-state {
    .err-icon {
      color: rgba(var(--center-channel-color-rgb), 0.7);
    }
  }

  .configuration-err-state {
    height: 100%;
  }

  .account-not-connected-icon {
    width: 40px;
    height: 40px;
  }
}

.rhs-btn-container {
  @include positioning(fixed, "", 0, 0, 1px, 1);
  padding-left: 11px;
  box-shadow: 9px 2px 5px 5px var(--center-channel-bg);
}

.rhs-btn {
  width: 100%;
}

.rhs-header-divider {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.2);
}

.rhs-filter-popover {
  top: 68px;
  width: calc(100% - 40px);
  margin-top: 8px;
  padding: 20px;
  position: absolute;
  height: fit-content;
  border-radius: 4px;
  border-color: rgba(var(--center-channel-color-rgb), 0.16);
  background: var(--center-channel-bg);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.toggle-class {
  .toggle-switch-container {
    border: none;
    margin-bottom: 0px !important;
  }
}

.filter-button {
  position: relative;

  &::after {
      display: block;
      content: "";
      width: 11px;
      height: 11px;
      border-radius: 50%;
      top: 6px;
      left: 18px;
      position: absolute;
      border: 2px solid var(--center-channel-bg);
      background-color: #1C58D9;
  }
}

.subscription-card {
  .channel-icon {
    position: static;
  }
}

.rhs-menu-popover {
  right: 12px;
  width: 310px;
  padding: 0px;
}

.configuration-not-enabled-err-state {
  overflow: auto;
  height: calc(100% - 90px) !important;

  // TODO: change to custom class later
  .flex-column {
    height: 100%;
  }

  .empty-state__icon {
    flex-shrink: 0;
  }
}
