@import "../../styles/abstract/variables";

.rhs-content {
  padding: 15px 12px 12px;
  height: calc(100% - #{$rhs-header-height});
  position: relative;

  &__cards-container {
    height: calc(100% - #{$rhs-footer-height} - #{$rhs-toggle-section-height});
    overflow-y: auto;
  }

  .empty-state {
    height: calc(100% - #{$rhs-toggle-section-height});
    padding: 0 30px;
  }

  .configuration-err-state{
    height: 100%;
  }

  &--error{
    color: var(--error-text);
    margin: 16px 0;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .account-not-connected-icon{
    width: 40px;
    height: 40px;
  }
}

.rhs-btn-container {
  position: fixed;
  left: 1px;
  right: 0;
  z-index: 1;
  bottom: 0;
  background: var(--center-channel-bg);
  padding: 12px 12px 12px 11px;
  box-shadow: 9px 2px 5px 5px var(--center-channel-bg);
}

.rhs-btn {
  width: 100%;
}

.delete-confirmation-modal {
  .modal__error {
    margin-bottom: 16px;
    text-align: left;
  }

  &__text {
    margin: 0 0 16px;
  }

  .modal__footer {
    border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.2);
    padding: 12px 15px;
    flex-direction: row-reverse !important;
    justify-content: flex-start !important;

    .modal__confirm-btn {
      margin: 0 0 0 16px;
      width: unset;
    }
  }
}
