@import "../../styles/abstract/variables";
@import "@brightscout/mattermost-ui-library/build/styles/abstract/_mixins";

.rhs-content {
  height: calc(100% - #{$rhs-header-height});

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subscriptions {
    font-weight: bold;
  }

  &__cards-container {
    height: calc(100% - #{$rhs-footer-height} - #{$rhs-toggle-section-height});
    padding-right: 10px;
    overflow-y: auto;
  }

  .empty-state {
    height: calc(100% - #{$rhs-toggle-section-height});
    padding: 0 30px;
  }

  .error-state {
    .err-icon {
      color: rgba(var(--center-channel-color-rgb), 0.7);
    }
  }

  .configuration-err-state {
    height: 100%;
  }

  .account-not-connected-icon {
    width: 40px;
    height: 40px;
  }
}

.rhs-btn-container {
  @include positioning(fixed, "", 0, 0, 1px, 1);
  padding-left: 11px;
  box-shadow: 9px 2px 5px 5px var(--center-channel-bg);
}

.rhs-btn {
  width: 100%;
}

.share-record-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  width: 88px;
  height: 40px;
  border-radius: 4px;
}

.share-record-icon {
  margin-right: 3px;
  margin-top: 4px;
}
